
/* font */
	
		@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);
		@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic);
		
		@font-face {
		font-family: 'Roboto', sans-serif;
		}
		
		@font-face {
		font-family: 'Roboto Condensed', sans-serif;
		}
				
/* body */
		
		html, body {        	
		font-family: 'Roboto', sans-serif;
		font-weight:300;		
		font-size:16px;          						
		text-indent:0;  
		text-align:justify;							
		line-height:24px;         						
		width:100%;
		min-width:1050px;
		height:100%;
		margin:0 auto;                              			
		padding:0;      
		color:#1a1a1a;
		background:#ffffff;
		}
		
		::selection {color:#ffffff;	background:#00B258;}
		::-moz-selection {color:#ffffff;	background:#00B258;}
		
		body img {border:none;}						

		a {text-decoration:none;} 
		
		a:link {color:#707070;} 				
		a:visited {color:#707070;} 
		a:hover {color:#707070;} 
		a:active {color:#707070;} 
		  		
		.clear {clear:both;}		
			
/* top */
			
		
		#top {
		width:1000px;
		margin:0 auto;
		position:relative;		
		text-align:center; 
		border-bottom:1px dashed #ffffff;
		}
		
		.logo {
		width:100px;
		height:88px;
		padding:0;
		margin:0;
		float:left;
		}
		
		.logo img {
		width:100px;
		padding:0;
		margin:0;
		}
		
		.button {	       	
		font-family: 'Roboto', sans-serif;
		font-weight:700;	
		text-align:center;
		font-size:20px;
		line-height:20px;
		width:200px;
		padding:15px 0;
		margin:20px 0 0 0;
		float:right;
		outline:none;
		cursor:pointer;
		color:#ffffff;
		background:#00a69c;
		border:2px solid #00a69c;
		border-radius:3px; 
			-webkit-border-radius:3px; 
			-moz-border-radius:3px; 
			-khtml-border-radius:3px;
			-webkit-transition: All 0.3s ease;
			-moz-transition: All 0.3s ease;
			-o-transition: All 0.3s ease;
			-ms-transition: All 0.3s ease;
			transition: All 0.3s ease;
		}
	
		.button:hover {
		color:#00B258;
		background:none;
		border:2px solid #00B258;
			-webkit-transition: All 0.3s ease;
			-moz-transition: All 0.3s ease;
			-o-transition: All 0.3s ease;
			-ms-transition: All 0.3s ease;
			transition: All 0.3s ease;
        }    

     	
/* box-1 */
        

       .firstblock{
        background:url('../images/background2.jpg') no-repeat center;  
        width:1200px;
        padding:50px 0 60px 0;
        margin:0 auto;
		position:relative;		
		text-align:center;
		border-top:1px dashed #BBBBBB;
		}        

		#header {
		align-content: center;
		margin: 100px;
		position:relative;		
		text-align:center;
       	}
		
		#header h2 {        	
		font-family: 'Roboto Condensed', sans-serif;
		font-weight:700;	
		font-style:normal;				
		text-align:center;
		text-transform:uppercase;
		font-size:50px;
		line-height:70px;
		padding:5px 0;
		margin:0;
		cursor:default;
		color:#ffffff;
		}
		
		#header h2 span { 
		font-size:50px;
		font-weight:300;
		}
		
		#header h3 {       	
		font-family: 'Roboto', sans-serif;
		font-weight:500;	
		font-style:normal;				
		text-align:center;
		font-size:24px;
		line-height:36px;
		letter-spacing:1px;
		padding:10px 0;
		margin:0;
		cursor:default;
		color:#ffffff;
		}
		
		#header h3 span { 
		padding:5px 10px;
		background:#000000;
		}
		
		.formbox {
		width:788px;
		padding:0;
		margin:10px auto 40px auto;
		text-align:center;
		}
		
		h5 {       	
		font-family: 'Roboto', sans-serif;
		font-weight:300;	
		font-style:normal;				
		text-align:center;
		font-size:22px;
		line-height:36px;
		padding:0;
		margin:50px 0 30px 0;
		cursor:default;
		color:#ffffff;
		}
		
		.formbox h6 {       	
		font-family: 'Roboto', sans-serif;
		font-weight:300;	
		font-style:normal;				
		text-align:center;
		font-size:22px;
		line-height:36px;
		padding:0;
		margin:35px 0 30px 0;
		cursor:default;
		color:#ffffff;
		}

		input {
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		font-size:16px;
		text-indent:0;
		text-align:left;
		width:190px;		
		height:34px;	
		padding:10px 20px;
		margin:5px 15px;
		float:left;
		color:#ffffff;
		background:none;
		border:2px solid #ffffff;
		-webkit-appearance: none;
		outline:none;		
		border-radius:3px; 
			-webkit-border-radius:3px; 
			-moz-border-radius:3px; 
			-khtml-border-radius:3px;
		}
	
		.formbox input:-moz-placeholder {color:#ffffff;}
		.formbox input::-webkit-input-placeholder {color:#ffffff;}		

		.formbox input.error:-moz-placeholder {color:#FF413B;}
		.formbox input.error::-webkit-input-placeholder {color:#FF413B;}	
			
		.formbox input.error {color:#FF8B74; border:2px solid #FF413B;}

        #boxes{
        clear: left; 
        float: left; 
        position: relative; 
        left: 25%;
        }
							
		.submit {
		width:230px;		
		height:58px;	
		padding:0;
		margin:5px 15px;
		float:left;
		border:none;
		outline:none;
		background:none;
        
		}
		
		.submit input {
		font-family: 'Roboto', sans-serif;
		font-weight:700;
		text-align:center;
		font-size:20px;
		line-height:20px;
		width:230px;
		height:58px;
		padding:0;
		margin:0 auto;		
		outline:none;
		cursor:pointer;
		color:#ffffff;
		background:#00a69c;
		border:2px solid #00a69c;
		-webkit-appearance:none;
		border-radius:3px; 
			-webkit-border-radius:3px; 
			-moz-border-radius:3px; 
			-khtml-border-radius:3px;
			-webkit-transition: All 0.3s ease;
			-moz-transition: All 0.3s ease;
			-o-transition: All 0.3s ease;
			-ms-transition: All 0.3s ease;
			transition: All 0.3s ease;
		}
	
		.submit input:hover {
		outline:none;
		color:#00B258;
		background:none;
		border:2px solid #00B258;
			-webkit-transition: All 0.3s ease;
			-moz-transition: All 0.3s ease;
			-o-transition: All 0.3s ease;
			-ms-transition: All 0.3s ease;
			transition: All 0.3s ease;
		}
		

/* box-5 */

		#box-5-w {
		width:100%;
		padding:0;
		margin:0;
		background:#ffffff; 
		position:relative;
		}
		
		#box-5 {
		width:1000px;
		padding:50px 0 60px 0;
		margin:0 auto;
		position:relative;		
		text-align:center;
		border-top:1px dashed #BBBBBB;
		}
		
		#box-5 h2 {        	
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		font-style:normal;				
		text-align:center;
		text-transform:uppercase;
		font-size:40px;
		line-height:50px;
		padding:10px 0;
		margin:0 0 20px 0;
		cursor:default;
		color:#1a1a1a;
		}
		
		#box-5 h2 span {        	
		font-weight:700;
		}
		
		#box-5 h3 {        	
		font-family: 'Roboto', sans-serif;
		font-weight:700;
		font-style:normal;				
		text-align:center;
		text-transform:uppercase;
		font-size:30px;
		line-height:50px;
		padding:10px 0;
		margin:50px 0 0 0;
		cursor:default;
		color:#1a1a1a;
		}
		
		.box-5  {
		width:1000px;
		padding:20px 0 30px 0;
		margin:0 auto;
		position:relative;		
		text-align:center;
		}
		
		.line {
		width:100px;
		height:5px;
		padding:0;
		margin:20px 450px;
		background:#00a69c;
		}
		
		.box-5-i {
		width:216px;
		height:280px;
		padding:0;
		margin:0 5px;
		float:left;
		overflow:hidden;
		border:2px solid #F0F0F0;
		border-radius:3px; 
			-webkit-border-radius:3px; 
			-moz-border-radius:3px; 
			-khtml-border-radius:3px;
		}
		
		.box-5 img {
		min-width:216px;
		height:280px;
		padding:0;
		margin:0;
		}
		
		.text-box {
		width:500px;
		padding:20px;
		margin:0;
		float:left;
		position:relative;		
		text-align:center;
		}
		
		.title {        	
		font-family: 'Roboto', sans-serif;
		font-weight:700;
		font-style:normal;				
		text-align:left;
		font-size:18px;
		line-height:24px;
		padding:0 0 15px 0;
		margin:0 30px;
		cursor:default;
		color:black;
		}
		
		.text {        	
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		font-style:normal;				
		text-align:left;
		font-size:16px;
		line-height:24px;
		margin:0 0 0 30px;
		cursor:default;
		color:#1a1a1a;
		background:url('../images/1.png') no-repeat 0 10px; 
		}


/* box-6 */
        
      .box-6{
        position: absolute;
        }
		
		.line {
		width:100px;
		height:5px;
		padding:0;
		margin:20px 450px;
		background:#00a69c;
		}
		
		.box-6 img {
		min-width:216px;
		height:280px;
		padding:0;
		margin:0;
        }		

        p.text-6 {
		width:500px;
		padding:20px;
		margin:0;
		text-align:center;
        }

       	.title-6 {        	
		font-family: 'Roboto', sans-serif;
		font-weight:700;
		font-style:normal;				
		text-align: left;
		font-size:18px;
		line-height:24px;
		padding:0 0 15px 0;
		margin:0 30px;
		cursor:default;
		color:black;
		}

.text-box-6 {
		width:500px;
		padding:20px;
		margin:0;
		float:right;
		position:relative;		
		
		}
       
	
/* box-9 */

		#box-9-w {
		width:100%;
		padding:0;
		margin:0;
		position:relative;
		background:url('../images/') no-repeat top center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		#box-9-w1 {
		width:100%;
		padding:0;
		margin:0;
		background:url('../images/background2.jpg') no-repeat top center; 
		position:relative;
		}
		
		#box-9 {
		width:1000px;
		padding:70px 0 70px 0;
		margin:0 auto;
		position:relative;		
		text-align:center;
		}
		
		#box-9 h2 {        	
		font-family: 'Roboto', sans-serif;
		font-weight:700;
		font-style:normal;				
		text-align:center;
		text-transform:uppercase;
		font-size:40px;
		line-height:50px;
		padding:0;
		margin:0;
		cursor:default;
		color:white;
		}
			
/* box-6 */

		#box-6-w {
		width:100%;
		padding:0;
		margin:0;
		background:#ffffff; 
		position:relative;
		}
		
		#box-6 {
		width:1000px;
		padding:50px 0 70px 0;
		margin:0 auto;
		position:relative;		
		text-align:center;
		}
		
		#box-6 h2 {        	
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		font-style:normal;				
		text-align:center;
		text-transform:uppercase;
		font-size:40px;
		line-height:50px;
		padding:10px 0;
		margin:0 0 30px 0;
		cursor:default;
		color:#1a1a1a;
		}
		
		#box-6 h2 span {        	
		font-weight:700;
		}
		
		#box-6 p {        	
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		font-style:normal;				
		text-align:center;
		font-size:16px;
		line-height:24px;
		padding:15px 0;
		margin:0;
		cursor:default;
		color:#1a1a1a;
		}
		
		.box-6 {
		width:155px;
		padding:0;
		margin:10px 5px 0 5px;
		float:left;
		position:relative;		
		text-align:center;
		}
		
		.b6 {
		width:120px;
		height:120px;
		padding:0;
		margin:0 auto;
		position:relative;
		border:2px solid #f0f0f0;
		border-radius:3px; 
			-webkit-border-radius:3px; 
			-moz-border-radius:3px; 
			-khtml-border-radius:3px;
			-webkit-transition: All 0.3s ease;
			-moz-transition: All 0.3s ease;
			-o-transition: All 0.3s ease;
			-ms-transition: All 0.3s ease;
			transition: All 0.3s ease;
		}
		
		.b6:hover {
		border:2px solid #00B258;
			-webkit-transition: All 0.3s ease;
			-moz-transition: All 0.3s ease;
			-o-transition: All 0.3s ease;
			-ms-transition: All 0.3s ease;
			transition: All 0.3s ease;
		}
		
		
/* box-7 */

		#box-7-w {
		width:100%;
		padding:0;
		margin:0;
		position:relative;
		background:url('../images/bg3.jpg') no-repeat top center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		#box-7-w1 {
		width:100%;
		padding:0;
		margin:0;
		background:url('../images/bg-d.png') no-repeat top center; 
		position:relative;
		}
		
		#box-7 {
		width:1000px;
		padding:70px 0 70px 0;
		margin:0 auto;
		position:relative;		
		text-align:center;
		}
		
		#box-7 h2 {        	
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		font-style:normal;				
		text-align:center;
		text-transform:uppercase;
		font-size:40px;
		line-height:50px;
		padding:10px 0;
		margin:0;
		cursor:default;
		color:#ffffff;
		}
		
		#box-7 h2 span {        	
		font-weight:700;
		}
		
		#box-7 h3 {        	
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		font-style:normal;				
		text-align:center;
		font-size:24px;
		line-height:30px;
		padding:10px 0;
		margin:0;
		cursor:default;
		color:#ffffff;
		}
	
/* box-8 */

		#box-8-w {
		width:100%;
		padding:0;
		margin:0;
		position:relative;
		background:#ffffff;
		}

		#box-8 {
		width:1000px;
		padding:70px 0 45px 0;
		margin:0 auto;
		position:relative;		
		text-align:center;
		}
		
		#box-8 h2 {        	
		font-family: 'Roboto Condensed', sans-serif;
		font-weight:700;	
		font-style:normal;				
		text-align:center;
		text-transform:uppercase;
		font-size:50px;
		line-height:60px;
		padding:5px 0;
		margin:0 0 30px 0;
		cursor:default;
		color:#1a1a1a;
		}
		
		#box-8 h3 a {        	
		font-family: 'Roboto Condensed', sans-serif;
		font-weight:400;	
		font-style:normal;				
		text-align:center;
		text-transform:uppercase;
		font-size:60px;
		line-height:60px;
		padding:5px 0;
		margin:0;
		cursor:default;
		color:#00B258;
		}
		
		#box-8 h3 a span {        	
		font-weight:300;
		}
		
		#box-8 h4 a {        	
		font-family: 'Roboto', sans-serif;
		font-weight:400;	
		font-style:normal;				
		text-align:center;
		font-size:20px;
		line-height:80px;
		padding:0;
		margin:0;
		cursor:default;
		color:#1a1a1a;
		}
		
/* bottom */
	
		#bottom-w {
		width:100%;
		padding:0;
		margin:0;
		background:rgba(255,255,255,0);	
		position:relative;
		}
		
		#bottom {
		width:1000px;
		padding:30px 0 0 0;
		margin:0 auto;
		position:relative;		
		text-align:center; 
		border-top:1px dashed #BBBBBB;
		}
		
		a.tel2 {          	
		font-family: 'Roboto', sans-serif;
		font-weight:700;	
		font-style:normal;				
		text-align:right;
		font-size:30px;
		line-height:30px;
		padding:0;
		margin:30px 20px 0 0;
		cursor:default;
		color:#1a1a1a;
		float:right;
		}
		
		a.tel2 span {   
		font-weight:300;	
		}
		
/* footer */
	
		#footer-w {
		width:100%;
		padding:10px 0 0 0;
		margin:0;
		background:rgba(255,255,255,1);	
		position:relative;
		}
		
		#footer {
		width:1000px;
		padding:0;
		margin:0 auto;
		position:relative;		
		text-align:center; 
		}
		
		#footer h2 {        	
		font-family: 'Roboto', sans-serif;
		font-weight:400;	
		font-style:normal;				
		text-align:center;
		font-size:14px;
		line-height:20px;
		padding:30px 0;
		margin:0;
		cursor:default;
		color:#bbbbbb;
		}
		
		#footer h2 a {        	
		font-family: 'Roboto', sans-serif;
		font-weight:400;	
		font-style:normal;				
		text-align:center;
		font-size:14px;
		line-height:20px;
		padding:0;
		margin:0;
		cursor:pointer;
		color:#BBBBBB;
		}
		
		#footer h2 a:hover {     
		color:#00B258;
		}
		
/* wrapper */
	
		#wrapper {
		display:none;
		position:fixed;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background:rgba(0,0,0,0.75);
		z-index:9000;
		}
	
/* z */

		.z-box {
		display:none;
		width:420px;
		padding:40px 20px 50px 20px;
		margin-left:-230px;
		margin-top:-200px;
		position:fixed;
		left:50%;
		top:50%;
		z-index:1000006;
		background:#ffffff; 
		border-radius:3px; 
			-webkit-border-radius:3px; 
			-moz-border-radius:3px; 
			-khtml-border-radius:3px;
		}
		
		.close {
		width:22px;
		height:21px;
		padding:0;
		margin:0;
		cursor:pointer;
		position:absolute;
		top:-40px;
		right:-60px;
		background:url('../images/close.png') no-repeat; 
		z-index:1000007;
		}
		
		.close2 {
		width:22px;
		height:21px;
		padding:0;
		margin:0;
		cursor:pointer;
		position:absolute;
		top:0px;
		right:-40px;
		background:url('../images/close.png') no-repeat; 
		z-index:1000007;
		}
		
		.formbox2 {			
		width:420px;
		margin:0;
		padding:0;
		text-align:center;
		position:relative;
		}
			
		.formbox2 h6 {   	       	
		font-family: 'Roboto', sans-serif;
		font-weight:300;	
		font-style:normal;				
		text-align:center;
		text-transform:uppercase;
		font-size:22px;
		line-height:32px;
		padding:5px 0;
		margin:0;
		cursor:default;
		color:#1a1a1a;
		}
		
		.formbox2 h6 span {
		font-weight:700;
		font-size:30px;
		line-height:32px;
		}
			
		.formbox2 input {                  	
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		font-size:16px;
		text-indent:0;
		text-align:left;
		width:318px;		
		height:30px;	
		padding:14px;
		border:2px solid #f0f0f0;
		margin:20px auto 0 auto;
		display:inline-block;
		color: white;
		background:#ffffff;
		outline:none;	
		-webkit-appearance: none;
		border-radius:5px; 
			-webkit-border-radius:5px; 
			-moz-border-radius:5px; 
			-khtml-border-radius:5px;
		}
	
		.formbox2 input:-moz-placeholder {color:#707070;}
		.formbox2 input::-webkit-input-placeholder {color:#707070;}		

		.formbox2 input.error:-moz-placeholder {color:#FF413B;}
		.formbox2 input.error::-webkit-input-placeholder {color:#FF413B;}	
		
		.formbox2 input.error {color:#FF8B74; border:2px solid #FF413B;}
		
		.submit2 {
		width:350px;	
		height:60px;
		padding:0;
		margin:20px auto 0 auto;
		border:none;
		outline:none;
		background:none;
		}
		
		.submit2 input {	             	
		font-family: 'Roboto', sans-serif;
		font-weight:700;	
		text-align:center;
		font-size:20px;
		line-height:20px;
		width:350px;
		height:60px;
		padding:0;
		margin:0;
		outline:none;
		cursor:pointer;
		color:#ffffff;
		background:#00B258;
		border:2px solid #00B258;
		-webkit-appearance: none;
		border-radius:3px; 
			-webkit-border-radius:3px; 
			-moz-border-radius:3px; 
			-khtml-border-radius:3px;
			-webkit-transition: All 0.3s ease;
			-moz-transition: All 0.3s ease;
			-o-transition: All 0.3s ease;
			-ms-transition: All 0.3s ease;
			transition: All 0.3s ease;
		}
	
		.submit2 input:hover {
		outline:none;
		color:#00B258;
		background:none;
		border:2px solid #00B258;
			-webkit-transition: All 0.3s ease;
			-moz-transition: All 0.3s ease;
			-o-transition: All 0.3s ease;
			-ms-transition: All 0.3s ease;
			transition: All 0.3s ease;
		}
			
/* thnx */

		#thnx {
		display:none;
		width:420px;
		padding:40px 20px;
		margin-left:-230px;
		margin-top:-150px;
		position:fixed;
		left:50%;
		top:50%;
		z-index:1000008;
		background:#ffffff; 		
		text-align:center;
		border-radius:3px; 
			-webkit-border-radius:3px; 
			-moz-border-radius:3px; 
			-khtml-border-radius:3px;
		}
		
		.ok {
		width:140px;
		height:80px;
		padding:0;
		margin:10px auto 0 auto;
		background:url('../images/0.png') no-repeat; 
		}
		
		#thnx h3 {     	       	
		font-family: 'Roboto', sans-serif;
		font-weight:700;
		font-style:normal;				
		text-align:center;
		text-transform:uppercase;
		font-size:30px;
		line-height:32px;
		padding:10px 0;
		margin:0;
		cursor:default;
		color:#1a1a1a;
		}
		
		#thnx p {       	
		font-family: 'Roboto', sans-serif;
		font-weight:300;	
		font-style:normal;				
		text-align:center;
		font-size:18px;
		line-height:24px;
		padding:10px 0;
		margin:0;
		cursor:default;
		color:#BBBBBB;
		}
		
		